.resetpassword-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 64px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center; }

.resetpassword-screen__from {
  width: 380px;
  padding: 0.3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0);
  background: #fff; }

.resetpassword-screen__title {
  text-align: center;
  margin-bottom: 1rem; }

.resetpassword-screen__subtext {
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0; }

.resetpassword-screen__subtext__link {
  font-size: 0.9rem;
  color: white;
  text-decoration: none; }
