//  Colors
$light: #f8f9fa;

$gray: #808080;

$darkblue: #2e3191;

$skyblue: #00aeef;

$darkgreen: #006838;

$lightgreen: #8dc63f;

$red: #ed1c24;

$yellow : #fff200;
  
$dark: #212529;

$black: #010203;